.game-cover-image{
	display: flex;
	justify-content: center;
	overflow: hidden;
	border: 2px solid #cbcbcb;
	margin: 1rem .5rem 1rem 1rem;
  padding: 1rem;
  max-height: 50%;
}

.game-price-container{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	border: 2px solid #cbcbcb;
	margin: 1rem .5rem 1rem 1rem;
  padding: 1rem;
}

.game-title-container{
	border: 2px solid #cbcbcb;
	margin: 1rem .5rem 1rem 1rem;
  padding: 1rem;
  text-align: center;
}

.game-review-container{
	border: 2px solid #cbcbcb;
	margin: 1rem .5rem 1rem 1rem;
  padding: 1rem;
}

.game-images-container{
	/*display: flex;
	flex-direction: column;*/
	border: 2px solid #cbcbcb;
	flex-grow: 1;
	max-width: 50%;
	margin: 1rem;
	/*flex-grow: 1;*/
	/*width: 100%;*/
	/*margin: 1rem .5rem 1rem 1rem;
  padding: 1rem;*/
  /*height: 100%;
  width: 50%;*/
}

.game-images-container{
	display: flex;
	justify-content: center;
	overflow: hidden;
}

.game-clips-container{
	display: flex;
	flex-direction: column;
	border: 2px solid #cbcbcb;
	justify-content: center;
	flex-grow: 1;
	max-width: 100%;
	margin: 1rem;
	/*width: 100%;*/
	/*margin: 1rem .5rem 1rem 1rem;
  padding: 1rem;*/
}

.game-clips-title{
	/*border: 2px solid red;*/
}

/*.game-clips-container-box{
	/*display: flex;*/
	/*border: 2px solid red;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}*/


.game-info-container{
	border: 2px solid #cbcbcb;
	margin: 1rem .5rem 1rem 1rem;
  padding: 1rem;
}

.game-twitch-streams{
	border: 2px solid #cbcbcb;
	margin: 1rem .5rem 1rem 1rem;
  padding: 1rem;
}

.media-container{
	display: flex;
	/*border: 2px solid red;*/
	justify-content: space-between;
}

.game-info-container{
	text-align: center;
}

.game-info-container h5{
	text-align: left;
	overflow-wrap: break-word;
}

.game-description-container{
	/*display: flex;
	flex-direction: column;
	text-align: center;
	overflow-wrap: break-word;
	overflow: hidden;*/
	border: 2px solid #cbcbcb;
	padding: 1rem;
	width: 100%;
/*	max-height: 100%;
	padding-top: 5rem;*/
}

.secondCol{

	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
	border: 2px solid red;
	height: 100%;
}

.game-description-container-title{
	text-align: center;
	/*border: 2px solid red;*/
}

.game-comments-container{
	border: 2px solid red;
	padding: 1rem;
	margin-top: 1rem;
	width: 100%;
}

#searchResultsTitle{
	margin: 3rem .5rem 1rem 1rem;
  padding: 1rem;
}

.resultsContainer{
	margin: 3rem .5rem 1rem 1rem;
  padding: 1rem;
}